@use "./variables";

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1260px;
}

button {
    color: variables.$primaryColour;
    background-color: transparent;
    padding: 18px 36px;
    border: 2px solid variables.$primaryColour;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: variables.$primaryColour;
        color: variables.$white;
    }
    &:focus {
        background-color: variables.$primaryColour;
        color: variables.$white;
    }
    &.secondary {
        background-color: transparent;
        border-color: variables.$white;
        color: variables.$white;
        padding: 8px 12px;
        &:hover {
            background-color: variables.$white;
            color:variables.$primaryColour;
        }
        &:focus {
            background-color: variables.$white;
            color:variables.$primaryColour;
        }
    }
    &.solid {
        color: variables.$white;
        background-color: variables.$primaryColour;
        &:hover {
            color: variables.$primaryColour;
            background-color: variables.$white;
        }
    }
    /* style the button in the main nav menu to look just like an icon */
        &.menuIcon {
            display: inherit;
            padding: 0;
            border: none;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
    }
}

a {
    &.button {
        color: variables.$primaryColour;
        background-color: transparent;
        padding: 18px 36px;
        border: 2px solid variables.$primaryColour;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.2rem;
        text-align: center;
        transition: 0.3s;
        &:hover {
            background-color: variables.$primaryColour;
            color: variables.$white;
        }
        &:focus {
            background-color: variables.$primaryColour;
            color: variables.$white;
        }
    }
}

img{
    max-width: 100%;
    display: block;
}